header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav a {
    padding: 0px 5px 0px 0px;
    text-decoration: none;
}


body{
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: 100%;
}
h1 {
    font-family: "Comfortaa", cursive;
  }
  
  h2 {
    font-family: "Crimson Text", serif;
    width: 60px;
  }
  
  p,
  a {
    font-family: "Poppins", sans-serif;
  }
  header{
    background-color: rgb(138,197,222);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    position: fixed;
    top: 0;
    width: 100%;

}

header nav a{
    text-decoration: none;
    font-size: larger;
    color: rgb(198, 222, 236);
}

footer{
    background-color: rgb(138,197,222);
    text-align: center;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
 
    
}